   
   @font-face {
    font-family: 'Figtree';
    src: url(./images/fonts/Figtree-VariableFont_wght.ttf);
   }
   body{
   background-color:#F4D04E;
       display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Figtree';
  
   }
   main{
    display: flex;
    flex-direction: column;
   background-color:white;
   justify-content: center;
   align-items: center;
   max-width: 384px;
   max-height: 522px;
   padding:24px;
   border-radius: 3%;
   margin-top: 200px;
   margin-bottom: 20px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.8);
   }
   #pup{
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;


   }
   .comment{
       display:flex;
        align-items: center; 
        gap: 8px; 
   }
 
.comment p{
      font-size: 14px;
    font-weight: 800;
     

}   
.comment img{
   width:32px;
   height: 32px;;
    

}
button{
    margin-bottom: 12px;
    background-color: #F4D04E;
      border-color: #F4D04E;
      border-radius: 9%;
    height: 29px;
    width: 82px;

}
h1{
    align-items: center;
    line-height: 150%;
    color:#111111;
    font-size: 24px;
    font-weight: 800;
}
#info{
    align-items: center;
     color:#6B6B6B;
     font-weight: 500;
     font-size: 16px;
   

    
}
.picture{
    align-items: center;
    margin-bottom: 24px;;
   

}
.picture img{
    border-radius: 3%;
}
.container{
    width:336px ;
    height: 194px;
     margin-bottom: 24px;
}
   
   
   
   
   
   
   
   
   
   
   
   .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }